h1 {
  text-align: center;
  font-size: 4rem!important;
  padding: 30px;
}
.text {
background: -webkit-linear-gradient(#595757,#ecf9ec,#333);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

i {
  font-size: 20rem;
  margin-bottom:15px;
}

button, span {
  display: block;
  min-width: 200px;
  font-size: 3rem!important;
}

.btn-success {
  padding: 5px 40px!important;
}

.container {
  padding-top:20px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.col-sm-6 {
  margin-bottom: 20px;
}

p {
  padding: 20px;
  color:white;
  margin-bottom: 0px!important;
  font-size: 2rem;
  background: black;
}
